logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

*.class

README

.target/views/index.scala.html

.target/views/main.scala.html

.target/views/test.scala.html
/bin
